@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;  /*para cobrir a tela inteira */
    background-color: fixed;      /* para não ter rolagem scroll */

}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;  /* alinha à DIREITA */
}

section#redes-sociais img { /*ou > a > img */
    width: 70px;
    margin: 10px;
    border-radius: 50%;  /* DEIXA A IMAGEM REDONDA SE FOR QUADRADA*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
    box-sizing: border-box; /* PARA A BORDA NÃO EMPURRAR OS OUTROS ICONES */
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.644); /*destaca borda*/
    transform: translate(-3px, -3px); /*levanta */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664); /*aumenta sombra */
    transition: transform .4s; 
} 